<select ng-model="selectedItem" ng-options="asset.asset for asset in assets" ng-change="assetChanged()">
    <option value="">Select Asset</option>
</select>
&nbsp;<span>Begin Date : </span><input type="text" ng-model="beginDate" datepicker />
&nbsp;<span>End Date : </span><input type="text" ng-model="endDate" datepicker /><br/>
<span>Comment : </span><input type="text" ng-model="comment" />
&nbsp;&nbsp;&nbsp;<span>PIC : </span><input type="text" ng-model="pic" />
&nbsp;&nbsp;&nbsp;<button class="btn btn-success" href="#" style="margin-top: -10px;" ng-click="generate()">
    <i class="icon-book icon-white"></i> Generate Jadwal Perawatan
</button>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-briefcase"></i> Maintenance Schedule</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>ID Maintenance</th>
                        <th>Asset</th>
                        <th>Comment Status</th>
                        <th>Estimasi Waktu</th>
                        <th>PIC</th>
                        <th>Status</th>
                        <th>Tanggal Awal</th>
                        <th>Tanggal Selesai</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="schedule in schedules">
                        <td>{{ schedule.idMaintenance }}</td>
                        <td>{{ schedule.asset }}</td>
                        <td>{{ schedule.commentStatus }}</td>
                        <td>{{ schedule.estimasiWaktu }}</td>
                        <td>{{ schedule.pic }}</td>
                        <td>{{ schedule.statusMaintenance }}</td>
                        <td>{{ schedule.tanggalAwal }}</td>
                        <td>{{ schedule.tanggalSelesai }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>