<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/asset_db</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">dwidasa</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/server/asset/entity/MaintenanceSchedule.hbm.xml"/>
    <mapping resource="com/server/asset/entity/StatusMaintenance.hbm.xml"/>
    <mapping resource="com/server/asset/entity/Category.hbm.xml"/>
    <mapping resource="com/server/asset/entity/Location.hbm.xml"/>
    <mapping resource="com/server/asset/entity/Asset.hbm.xml"/>
    <mapping resource="com/server/asset/entity/Condition.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
